body {
  font-family: Arial;
  text-align: center;
}

.form input {
  display: block;
  margin: 8px auto;
  padding: 8px;
  width: 200px;
}

button {
  padding: 8px 15px;
  background: crimson;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}
